body {
    height: 100%;
}
/* Custom styles for the alert message */
.alert-container {
    align-self:center ;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 1000;
}
.alert {
    padding: 20px;
    border-radius: 5px;
    background-color: #b8a05a;
    color: #333;
    text-align: center;
    position: relative;
}
.alert .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
/* Fade out animation for dismissal */
@keyframes fadeOut {
    0% {
        opacity: 1;
   }
    100% {
        opacity: 0;
   }
}
.fadeOut {
    animation: fadeOut 0.5s forwards;
}
.login-container {
    width: 30%;
    background-color: white;
    border-radius: 1em;
    padding: 4em;
    margin: 10% auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container label {
    font-size: medium;
    width: 100%;
    margin: .5em auto .3em 0;
}
.container input {
    width: 100%;
    height: 2.5em;
    border-radius: 3px;
    border: solid #707070 1px;
    padding: 0 7px;
}
.user {
    margin-bottom: 1em;
}
.password {
    margin-bottom: 1em;
}
.login-button {
    width: 100%;
    padding: .5em;
    background-color: #FFD13A;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    font-weight: 600;
    margin: .5em auto .3em 0;
}
/* Media Queries */
@media only screen and (max-width: 1400px) {
    .login-container {
        width: 40%;
   }
}
@media only screen and (max-width: 1100px) {
    .login-container {
        width: 50%;
   }
}
@media only screen and (max-width: 800px) {
    .login-container {
        width: 70%;
   }
}
@media only screen and (max-width: 650px) {
    .login-container {
        width: 65%;
   }
}
@media only screen and (max-width: 500px) {
    .login-container {
        width: 60%;
   }
}
@media only screen and (max-width: 350px) {
    .login-container {
        width: 55%;
   }
}
@media only screen and (max-width: 300px) {
    .login-container {
        width: 90%;
   }
}
