.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 20px;
    padding: 5%;
}

.service-container {
    margin: 2% auto;
    max-width: 1200px;
}

.col {
    box-sizing: border-box;
}

.servicecard {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    min-height: auto;
    padding: 0%;
    border: solid rgb(189, 187, 187);
}

.servicecard-body {
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
}

.servicecard-title {
    font-size: larger;
    text-align: center;
    font-weight: normal;
}

.service-header {
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 800px) {
    .row {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    .service-container {
        margin: 2% 10px;
    }
}