{% extends "index.html" %}
{% load static %}

<!--header-->
{% block head %}
<link rel="stylesheet" href="{% static 'css/forget-pass.css' %}" />
{% endblock head %}

<!--body -->
{% block body %}
<main class="reset-container">
    <div class="container">
        <h2 class="text-center">Forget Password</h2>
        <hr>
        {% if messages %}
        <div class="alert">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control">
            </div>
            <button type="submit" class="reset-button">Submit</button>
        </form>
    </div>
</main>
{% endblock body %}

<!--Footer Override  -->
{% block footer %}
{% endblock footer%}