{% extends "index.html" %}
{% load static %}

<!--header-->
{% block head %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock head %}

<!--body -->
{% block body %}
<!--alert messgae -->
{% if messages %}
<div id="alert-container" class="alert-container">
    <div class="alert" id="alert-message">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        <span class="close" id="custom-close">&times;</span>
    </div>
</div>
{% endif %}
<!--container -->
<main class="signup-container">
    <div class="container ">
        <h2 class="text-center">Sign Up</h2>
        <form action="/signup" method="POST">
            {% csrf_token %}

            <div class="fname">
                <label for="first-name">First Name</label>
                <input type = "text" id="first-name" name="firstName" value="{{ first_name }}" required></input>

            </div>
            <div class="lname">
                <label for="last-name">Last Name</label>
                <input type = "text" id="last-name" name="lastName" value="{{ last_name }}" required></input>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <!-- {{form.email}}
                {{form.email.errors}} -->
                <input type = "text" id="email" name="email" value="{{ email }}" required></input>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <!-- {{form.password}}
                {{form.password.errors}} -->
                <input type = "text" id="password" name="password" autocomplete="off" autocorrect="off" spellcheck="false" required></input>
            </div>


         
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type = "text" id="confirm-password" name="confirmPassword" autocomplete="off" autocorrect="off" spellcheck="false" required ></input>
            </div>

         
            <button class="signup-button">Sign up</button>
            <p class=" text-center login-link" style="text-align: center;"  >Have an account?? <a href="{% url 'login' %}">Log in</a></p>
    </div>
    </div>
</main>

<script>
    //var id_username = document.getElementById('id_username')
    var id_fname = document.getElementById('fname')
    var id_lname = document.getElementById('lname')
    var id_email = document.getElementById('email')
    var id_password1 = document.getElementById('pass1')
    var id_password2 = document.getElementById('pass2')

    //id_username.placeholder = 'Username';
    id_fname.placeholder = 'First Name';
    id_lname.placeholder = 'Last Name';
    id_email.placeholder = 'Email';
    id_password1.placeholder = 'Password';
    id_password2.placeholder = 'Confirm password';

</script>

{% endblock body %}

<!--Footer -->
{%block footer%}
{%endblock footer%}

<!-- scripts -->
{% block scripts%}
<script src="{% static '/js/alert_dismiss.js' %}"></script>
{% endblock scripts%}